<div style="margin-top:32px; text-align:left;">
	<font color="#C0C0C0">ADVERTISEMENT:</font>

	<div style="text-align:inherit;">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- inside-pages-ad-large-rectangle -->
		<ins class="adsbygoogle"
			 style="display:inline-block;width:336px;height:280px"
			 data-ad-client="ca-pub-4328789168608769"
			 data-ad-slot="1857238131"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>